/* Navbar.module.css */

.navbar {
  z-index: 999;

  animation: fadeIn 1s ease-in-out forwards;

  width: 100%;
  height: 70px;
  display: flex;
  background-color: white;
  color: #03045e;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center; /* Add this line */
  box-shadow: white;
  box-shadow: 4px;
  /* background-color: transparent; */
  backdrop-filter: blur(20px);
  height: fit-content;
  box-shadow: black;
  position: fixed;
}

.logo {
  display: flex;
  flex-direction: row;
  column-gap: 1px;
  height: 100%;
  align-items: center; /* Add this line */
  margin-left: 50px;
  color: black;
}

.logoNav {
  display: flex;
  flex-direction: row;
  column-gap: 1px;
  height: 80px;
  align-items: center; /* Add this line */
  margin-left: 50px;
  color: black;
  width: fit-content;
}

.logoNav:hover {
  cursor: pointer;
}

.logo_pic {
  width: 80px;
  height: 100%;
}

.logo p {
  place-self: center;
}

.heading_3 {
  font-size: x-large;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Links {
  /* display: flex;
  flex-direction: row; */
  column-gap: 40px;
  list-style: none;
  margin-right: 50px;
}

.ListItem {
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: black;
  font-size: larger;

  border-bottom: 3px solid transparent; /* Add transparent border */
  transition: border-color 0.3s;
}

.ListItem:hover {
  cursor: pointer;

  border-bottom: 3px solid #c51c1c; /* Added border style and width */
}
.button {
  background-color: #a73121;
  color: white;
  display: inline-block;
  width: 100px;
  height: 37px;
  border-radius: 10px;
  border: 1px solid white;
}

.button:hover {
  background-color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.toggle {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.logo_pic {
  z-index: 999;
}
.navButton {
  margin-right: 50px;
  /* z-index: 999; */
}
.navButton:hover {
  cursor: pointer;
}
@media (max-width: 1361px) {
  .toggle {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
  }
  .logo {
    display: none;
  }

  .Links {
    width: 100%;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;
  }
  .ListItem {
    border-radius: 20px;
    display: inline-block;
    border: none;
    transition: none;
    padding: 4px 20px;
  }

  .ListItem:hover {
    cursor: pointer;

    background-color: #c51c1c;
  }
  .button {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  /* .logoNav {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: flex-start;
  } */
  .logoNav .heading_3 {
    display: none;
  }
}
