.Dentists {
  height: fit-content;
  width: 100%;
  margin-top: 70px;
}
.heading_2 {
  font-size: 40px;
  font-weight: 300;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  text-align: center;
  margin-bottom: 40px;
}

.name {
  color: black;
}

.grid {
  width: fit-content;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 40px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 250px;
  position: relative;
  border-radius: 10%;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth, ease-in-out transition */
}

.card:hover {
  cursor: pointer;
  transform: scale(1.2); /* Increase the scale slightly on hover */
  border: 1px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.image {
  width: 100%;
  height: 380px;
  border-radius: 10%;
}

.heading_3 {
  position: absolute;
  top: 2%;
  left: 4%;
  padding: 5px 10px;
  background-color: black;
  border-radius: 30px;
  font-size: 15px;
  opacity: 50%;
  font-weight: 300;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 0;
}

.heading_4 {
  font-size: 15px;
  font-weight: 300;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  text-align: center;
}

.occupation {
  font-size: 15px;

  display: flex;
  flex-direction: column;

  width: 90%;
  margin: auto;
  height: 50px;
  position: absolute;
  bottom: 5%;

  padding: 5px 0px;
  background-color: #f1f0f4;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  height: 40px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    row-gap: 50px;
  }
}
